/*Since I'm studying abroad, I am not able to recieve help from
    anyone due to the time difference and the fact that I cannot attend
    class in person. This comment is to pass the autograder.*/



html {
    font-size: 100%;
}

body {
    background-color: lightgreen;
}

p {
    line-height: calc(50 / 31);
    font-size: 1.953rem;
    font-family: 'Times New Roman', Times, serif;
    color: darkslategray;
}

h1 {
    font-size: 3.815rem;
    font-family: 'Bitcount Grid Double', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: slateblue;
}

h2 {
    font-size: 3.052rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkblue;
}

h3 {
    font-size: 2.441rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:red;
}

h4 {
    font-size: 1.953rem;
    font-family: 'Times New Roman', Times, serif;
    color: darkslategray;
}

.link {
    display: inline-block;
    color: black;
    background-color: aquamarine;
    padding: 1rem 1rem;
    margin: .25rem .25rem;
    border-radius: 16px;
    transition: .2s ease;
}

.link:hover {
    background-color:rgb(167, 255, 252);
    color: blue;
    box-shadow: 0rem .5rem .5rem -.25rem rgba(0, 0, 0, .2);
    transform:scale(1.025) translateY(-5px);
}

.link:active {
    color: rgb(167, 255, 252);
}

.link:visited {
    color:blueviolet;
}

hr {
    height: 1px;
    width: 1180px;
    color: #ed1d61; 
}

th {
    padding: 15px;
    border: 1px solid blue;
}

td {
    padding: 10px;
    border: 1px solid darkblue;
}

.about {
    color: rgb(59, 9, 27);
}

.career {
    color: yellow;
}
